.garage {
    width: 100%;
}

.garage-title {
    color: var(--green);
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 1rem 0 1rem 1rem;
}

.form-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

#race,
#create,
#update,
#generate {
    background-color: var(--green);
}

#reset {
    background-color: var(--red);
}

#race:disabled,
#reset:disabled,
#update:disabled {
    background-color: gray;
    color: black;
    cursor: auto;
}

#generate {
    width: 240px;
}