:root {
    --bg: #2e0839;
    --green: #1ae746;
    --red: #d71414;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    width: 100vw;
    margin: 0 auto;
    background-color: #2e0839;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.title {
    max-width: 90%;
    margin: 10px auto; 
    font-size: 2rem;
    text-align: center;
}

.subtitle {
    max-width: 90%;
    margin: 10px auto; 
    font-size: 1.3rem;
    text-align: center;
    color: white;
}

.btn {
    display: block;
    width: 150px;
    margin: 10px auto;
    height: 40px;
    padding: 5px;
    border-radius: 3px;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all linear .5s;
}

.btn:active {
    transform: scale(0.95);
}

.input-text {
    display: block;
    max-width: 70%;
    width: 200px;
    height: 40px;
    background-color: white;
    font-size: 1.2rem;
    color: var(--green);
    transition: all linear .4s;
}

.input-text:focus {
    border-radius: 6px;
    outline: 2px solid var(--green);
}

.input-text:disabled {
    background-color: gray;
}

.input-color {
    display: block;
    width: 40px;
    height: 40px;
}

.footer {
    max-width: 30%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 700px){
    .btn {
        font-size: 1.2rem;
        font-weight: 500;
    }
    .input-text {
        max-width: 60%;
        width: 150px;
    }
}