#root {
    position: relative;
    overflow-x: hidden;
}

#header {
    max-width: 35%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

#main {
    max-width: 95%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid salmon;
}

.header-btn {
    background-color: var(--green);
}

.header-btn-passive {
    background-color: var(--red);
}

.prev {
    background-color: var(--red);
    color: white;
}

.next {
    background-color: var(--green);
    color: white;
}

.prev:disabled,
.next:disabled {
    background-color: gray;
    color: black;
}

@media screen and (max-width: 768x){
    #header {
        max-width: 50%;
    }
}