.winners {
    width: 100%;
}

.winners-title {
    color: var(--red);
}

.winners-table {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.table-header {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.4rem;
    color: white;
    background-color: var(--red);
}

.table-item {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
}

.winner-item1 {
    flex-basis: 10%;
    outline: 1px solid green;
}

.winner-item2 {
    flex-basis: 10%;
    outline: 1px solid green;
}

.winner-item3 {
    flex-basis: 35%;
    outline: 1px solid green;
}

.winner-item4 {
    flex-basis: 12%;
    outline: 1px solid green;
}

.winner-item5 {
    flex-basis: 33%;
    outline: 1px solid green;
}